body{
    background-color: rgb(6, 6, 245);
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.yo{
    padding: 50px;
    margin: 20px;
    background-color: rgb(255,255,119);

}

.blu{
    padding: 50px;
    margin: 20px;
    width: 400px; 
    height: 400px;
    background-color: rgb(129, 129, 255);
    flex-direction: column;
}


.flex{
    display: flex;
    justify-content: space-between;
}

.gre{
    padding-right: 190;
    background-color: rgb(255,255,119);
}

.red{
     padding-bottom: 190;
     background-color: rgb(255,255,119);
}