body{
    background-color: rgb(6, 6, 245);
}

.yo{
    padding: 50px;
    margin: 20px;
    background-color: rgb(255,255,119);

}

.blu{
    background-color: rgb(129, 129, 255);

}

.flex{
    display: flex;
    justify-content: center;
}

.gre{
    padding-right: 190;
    background-color: rgb(255,255,119);
}

.red{
     padding-bottom: 190;
     background-color: rgb(255,255,119);
}

.vento{
    padding-right: 190px;
    background-color: rgb(129, 129, 255);
    padding: 50px;
    margin: 20px;
}

.up{
    margin-top: 0;
}